<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quyunshuo.modulea">

    <application
        android:name="debug.LoginApplication"
        android:allowBackup="true"
        android:icon="@mipmap/modulea_ic_launcher"
        android:label="ModuleA"
        android:roundIcon="@mipmap/modulea_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/modulea_AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>